body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

#ui {
  position: absolute;
  top: 50%;
  left: 50%;
}
#ui .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
  background: #000;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 50px 10px rgba(200, 0, 0, 0.5);
}
#ui .sun {
  position: absolute;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
  background: #000;
  filter: blur(10px) contrast(15);
}
#ui .sun_border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border: 15px solid yellow;
  border-radius: 100%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
#ui .sun_fire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}
#ui .sun_fire_inner {
  box-sizing: border-box;
}
#ui .sun_fire:nth-child(1) {
  animation: sunFire 9747ms infinite linear;
}
#ui .sun_fire:nth-child(1) .sun_fire_inner {
  width: 83px;
  height: 83px;
  border-top: 9px solid orange;
  border-right: 14px solid orange;
  border-bottom: 7px solid orange;
  border-left: 7px solid orange;
  border-radius: 33% 67% 76% 22%;
  animation: sunFireInner 2126ms infinite alternate linear;
}
#ui .sun_fire:nth-child(2) {
  animation: sunFire 8147ms infinite linear;
}
#ui .sun_fire:nth-child(2) .sun_fire_inner {
  width: 79px;
  height: 79px;
  border-top: 14px solid orange;
  border-right: 11px solid orange;
  border-bottom: 12px solid orange;
  border-left: 7px solid orange;
  border-radius: 58% 12% 18% 64%;
  animation: sunFireInner 2584ms infinite alternate linear;
}
#ui .sun_fire:nth-child(3) {
  animation: sunFire 12881ms infinite linear;
}
#ui .sun_fire:nth-child(3) .sun_fire_inner {
  width: 74px;
  height: 74px;
  border-top: 14px solid orange;
  border-right: 13px solid orange;
  border-bottom: 12px solid orange;
  border-left: 8px solid orange;
  border-radius: 61% 24% 43% 79%;
  animation: sunFireInner 2154ms infinite alternate linear;
}
#ui .sun_fire:nth-child(4) {
  animation: sunFire 6615ms infinite linear;
}
#ui .sun_fire:nth-child(4) .sun_fire_inner {
  width: 56px;
  height: 56px;
  border-top: 8px solid orange;
  border-right: 15px solid orange;
  border-bottom: 6px solid orange;
  border-left: 7px solid orange;
  border-radius: 74% 57% 13% 53%;
  animation: sunFireInner 3993ms infinite alternate linear;
}
#ui .sun_fire:nth-child(5) {
  animation: sunFire 13078ms infinite linear;
}
#ui .sun_fire:nth-child(5) .sun_fire_inner {
  width: 129px;
  height: 129px;
  border-top: 9px solid orange;
  border-right: 13px solid orange;
  border-bottom: 14px solid orange;
  border-left: 8px solid orange;
  border-radius: 19% 75% 19% 60%;
  animation: sunFireInner 4918ms infinite alternate linear;
}
#ui .sun_fire:nth-child(6) {
  animation: sunFire 13440ms infinite linear;
}
#ui .sun_fire:nth-child(6) .sun_fire_inner {
  width: 118px;
  height: 118px;
  border-top: 15px solid orange;
  border-right: 15px solid orange;
  border-bottom: 14px solid orange;
  border-left: 15px solid orange;
  border-radius: 26% 73% 65% 48%;
  animation: sunFireInner 4943ms infinite alternate linear;
}
#ui .sun_fire:nth-child(7) {
  animation: sunFire 9939ms infinite linear;
}
#ui .sun_fire:nth-child(7) .sun_fire_inner {
  width: 47px;
  height: 47px;
  border-top: 13px solid orange;
  border-right: 9px solid orange;
  border-bottom: 14px solid orange;
  border-left: 9px solid orange;
  border-radius: 42% 70% 73% 34%;
  animation: sunFireInner 2913ms infinite alternate linear;
}
#ui .sun_fire:nth-child(8) {
  animation: sunFire 13993ms infinite linear;
}
#ui .sun_fire:nth-child(8) .sun_fire_inner {
  width: 124px;
  height: 124px;
  border-top: 11px solid orange;
  border-right: 15px solid orange;
  border-bottom: 7px solid orange;
  border-left: 13px solid orange;
  border-radius: 13% 15% 25% 69%;
  animation: sunFireInner 3949ms infinite alternate linear;
}
#ui .sun_fire:nth-child(9) {
  animation: sunFire 14240ms infinite linear;
}
#ui .sun_fire:nth-child(9) .sun_fire_inner {
  width: 91px;
  height: 91px;
  border-top: 10px solid orange;
  border-right: 15px solid orange;
  border-bottom: 15px solid orange;
  border-left: 8px solid orange;
  border-radius: 41% 13% 59% 52%;
  animation: sunFireInner 3958ms infinite alternate linear;
}
#ui .sun_fire:nth-child(10) {
  animation: sunFire 14619ms infinite linear;
}
#ui .sun_fire:nth-child(10) .sun_fire_inner {
  width: 132px;
  height: 132px;
  border-top: 9px solid orange;
  border-right: 13px solid orange;
  border-bottom: 10px solid orange;
  border-left: 13px solid orange;
  border-radius: 64% 31% 76% 53%;
  animation: sunFireInner 3351ms infinite alternate linear;
}
#ui .sun_fire:nth-child(11) {
  animation: sunFire 11980ms infinite linear;
}
#ui .sun_fire:nth-child(11) .sun_fire_inner {
  width: 53px;
  height: 53px;
  border-top: 6px solid orange;
  border-right: 9px solid orange;
  border-bottom: 8px solid orange;
  border-left: 8px solid orange;
  border-radius: 57% 61% 27% 56%;
  animation: sunFireInner 4386ms infinite alternate linear;
}
#ui .sun_fire:nth-child(12) {
  animation: sunFire 14995ms infinite linear;
}
#ui .sun_fire:nth-child(12) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 12px solid orange;
  border-right: 8px solid orange;
  border-bottom: 13px solid orange;
  border-left: 15px solid orange;
  border-radius: 15% 58% 47% 70%;
  animation: sunFireInner 2824ms infinite alternate linear;
}
#ui .sun_fire:nth-child(13) {
  animation: sunFire 8878ms infinite linear;
}
#ui .sun_fire:nth-child(13) .sun_fire_inner {
  width: 55px;
  height: 55px;
  border-top: 7px solid orange;
  border-right: 8px solid orange;
  border-bottom: 8px solid orange;
  border-left: 6px solid orange;
  border-radius: 70% 11% 66% 45%;
  animation: sunFireInner 3828ms infinite alternate linear;
}
#ui .sun_fire:nth-child(14) {
  animation: sunFire 5640ms infinite linear;
}
#ui .sun_fire:nth-child(14) .sun_fire_inner {
  width: 106px;
  height: 106px;
  border-top: 14px solid orange;
  border-right: 7px solid orange;
  border-bottom: 8px solid orange;
  border-left: 7px solid orange;
  border-radius: 38% 26% 40% 76%;
  animation: sunFireInner 4330ms infinite alternate linear;
}
#ui .sun_fire:nth-child(15) {
  animation: sunFire 14428ms infinite linear;
}
#ui .sun_fire:nth-child(15) .sun_fire_inner {
  width: 55px;
  height: 55px;
  border-top: 13px solid orange;
  border-right: 10px solid orange;
  border-bottom: 15px solid orange;
  border-left: 11px solid orange;
  border-radius: 80% 24% 36% 80%;
  animation: sunFireInner 3449ms infinite alternate linear;
}
#ui .sun_fire:nth-child(16) {
  animation: sunFire 7031ms infinite linear;
}
#ui .sun_fire:nth-child(16) .sun_fire_inner {
  width: 46px;
  height: 46px;
  border-top: 14px solid orange;
  border-right: 6px solid orange;
  border-bottom: 9px solid orange;
  border-left: 12px solid orange;
  border-radius: 30% 39% 67% 36%;
  animation: sunFireInner 2323ms infinite alternate linear;
}
#ui .sun_fire:nth-child(17) {
  animation: sunFire 14256ms infinite linear;
}
#ui .sun_fire:nth-child(17) .sun_fire_inner {
  width: 71px;
  height: 71px;
  border-top: 13px solid orange;
  border-right: 14px solid orange;
  border-bottom: 6px solid orange;
  border-left: 7px solid orange;
  border-radius: 51% 61% 22% 39%;
  animation: sunFireInner 2028ms infinite alternate linear;
}
#ui .sun_fire:nth-child(18) {
  animation: sunFire 6604ms infinite linear;
}
#ui .sun_fire:nth-child(18) .sun_fire_inner {
  width: 65px;
  height: 65px;
  border-top: 8px solid orange;
  border-right: 13px solid orange;
  border-bottom: 12px solid orange;
  border-left: 9px solid orange;
  border-radius: 50% 61% 40% 43%;
  animation: sunFireInner 4729ms infinite alternate linear;
}
#ui .sun_fire:nth-child(19) {
  animation: sunFire 5647ms infinite linear;
}
#ui .sun_fire:nth-child(19) .sun_fire_inner {
  width: 79px;
  height: 79px;
  border-top: 13px solid orange;
  border-right: 7px solid orange;
  border-bottom: 8px solid orange;
  border-left: 13px solid orange;
  border-radius: 51% 12% 49% 27%;
  animation: sunFireInner 3022ms infinite alternate linear;
}
#ui .sun_fire:nth-child(20) {
  animation: sunFire 6902ms infinite linear;
}
#ui .sun_fire:nth-child(20) .sun_fire_inner {
  width: 81px;
  height: 81px;
  border-top: 14px solid orange;
  border-right: 6px solid orange;
  border-bottom: 13px solid orange;
  border-left: 12px solid orange;
  border-radius: 30% 55% 48% 23%;
  animation: sunFireInner 3096ms infinite alternate linear;
}
#ui .sun_fire:nth-child(21) {
  animation: sunFire 10513ms infinite linear;
}
#ui .sun_fire:nth-child(21) .sun_fire_inner {
  width: 88px;
  height: 88px;
  border-top: 14px solid orange;
  border-right: 15px solid orange;
  border-bottom: 9px solid orange;
  border-left: 14px solid orange;
  border-radius: 65% 44% 39% 30%;
  animation: sunFireInner 2190ms infinite alternate linear;
}
#ui .sun_fire:nth-child(22) {
  animation: sunFire 11446ms infinite linear;
}
#ui .sun_fire:nth-child(22) .sun_fire_inner {
  width: 113px;
  height: 113px;
  border-top: 10px solid orange;
  border-right: 11px solid orange;
  border-bottom: 13px solid orange;
  border-left: 9px solid orange;
  border-radius: 72% 22% 11% 76%;
  animation: sunFireInner 3956ms infinite alternate linear;
}
#ui .sun_fire:nth-child(23) {
  animation: sunFire 13240ms infinite linear;
}
#ui .sun_fire:nth-child(23) .sun_fire_inner {
  width: 41px;
  height: 41px;
  border-top: 9px solid orange;
  border-right: 14px solid orange;
  border-bottom: 15px solid orange;
  border-left: 14px solid orange;
  border-radius: 64% 16% 69% 35%;
  animation: sunFireInner 4055ms infinite alternate linear;
}
#ui .sun_fire:nth-child(24) {
  animation: sunFire 7622ms infinite linear;
}
#ui .sun_fire:nth-child(24) .sun_fire_inner {
  width: 69px;
  height: 69px;
  border-top: 9px solid orange;
  border-right: 11px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 60% 47% 17% 70%;
  animation: sunFireInner 4902ms infinite alternate linear;
}
#ui .sun_fire:nth-child(25) {
  animation: sunFire 6037ms infinite linear;
}
#ui .sun_fire:nth-child(25) .sun_fire_inner {
  width: 85px;
  height: 85px;
  border-top: 8px solid orange;
  border-right: 9px solid orange;
  border-bottom: 15px solid orange;
  border-left: 9px solid orange;
  border-radius: 34% 71% 52% 49%;
  animation: sunFireInner 4280ms infinite alternate linear;
}
#ui .sun_fire:nth-child(26) {
  animation: sunFire 14929ms infinite linear;
}
#ui .sun_fire:nth-child(26) .sun_fire_inner {
  width: 90px;
  height: 90px;
  border-top: 8px solid orange;
  border-right: 15px solid orange;
  border-bottom: 7px solid orange;
  border-left: 11px solid orange;
  border-radius: 75% 53% 30% 40%;
  animation: sunFireInner 3291ms infinite alternate linear;
}
#ui .sun_fire:nth-child(27) {
  animation: sunFire 14285ms infinite linear;
}
#ui .sun_fire:nth-child(27) .sun_fire_inner {
  width: 103px;
  height: 103px;
  border-top: 10px solid orange;
  border-right: 6px solid orange;
  border-bottom: 12px solid orange;
  border-left: 7px solid orange;
  border-radius: 45% 25% 69% 32%;
  animation: sunFireInner 3178ms infinite alternate linear;
}
#ui .sun_fire:nth-child(28) {
  animation: sunFire 5563ms infinite linear;
}
#ui .sun_fire:nth-child(28) .sun_fire_inner {
  width: 87px;
  height: 87px;
  border-top: 9px solid orange;
  border-right: 6px solid orange;
  border-bottom: 15px solid orange;
  border-left: 14px solid orange;
  border-radius: 23% 60% 57% 16%;
  animation: sunFireInner 2458ms infinite alternate linear;
}
#ui .sun_fire:nth-child(29) {
  animation: sunFire 12293ms infinite linear;
}
#ui .sun_fire:nth-child(29) .sun_fire_inner {
  width: 132px;
  height: 132px;
  border-top: 6px solid orange;
  border-right: 6px solid orange;
  border-bottom: 11px solid orange;
  border-left: 10px solid orange;
  border-radius: 40% 45% 69% 44%;
  animation: sunFireInner 2909ms infinite alternate linear;
}
#ui .sun_fire:nth-child(30) {
  animation: sunFire 6170ms infinite linear;
}
#ui .sun_fire:nth-child(30) .sun_fire_inner {
  width: 59px;
  height: 59px;
  border-top: 8px solid orange;
  border-right: 14px solid orange;
  border-bottom: 10px solid orange;
  border-left: 14px solid orange;
  border-radius: 80% 71% 26% 18%;
  animation: sunFireInner 2749ms infinite alternate linear;
}
#ui .sun_fire:nth-child(31) {
  animation: sunFire 14662ms infinite linear;
}
#ui .sun_fire:nth-child(31) .sun_fire_inner {
  width: 84px;
  height: 84px;
  border-top: 6px solid orange;
  border-right: 14px solid orange;
  border-bottom: 7px solid orange;
  border-left: 15px solid orange;
  border-radius: 71% 23% 67% 54%;
  animation: sunFireInner 2373ms infinite alternate linear;
}
#ui .sun_fire:nth-child(32) {
  animation: sunFire 10988ms infinite linear;
}
#ui .sun_fire:nth-child(32) .sun_fire_inner {
  width: 115px;
  height: 115px;
  border-top: 13px solid orange;
  border-right: 7px solid orange;
  border-bottom: 8px solid orange;
  border-left: 12px solid orange;
  border-radius: 28% 77% 48% 51%;
  animation: sunFireInner 3313ms infinite alternate linear;
}
#ui .sun_fire:nth-child(33) {
  animation: sunFire 9880ms infinite linear;
}
#ui .sun_fire:nth-child(33) .sun_fire_inner {
  width: 84px;
  height: 84px;
  border-top: 6px solid orange;
  border-right: 14px solid orange;
  border-bottom: 9px solid orange;
  border-left: 7px solid orange;
  border-radius: 57% 38% 20% 30%;
  animation: sunFireInner 3212ms infinite alternate linear;
}
#ui .sun_fire:nth-child(34) {
  animation: sunFire 12799ms infinite linear;
}
#ui .sun_fire:nth-child(34) .sun_fire_inner {
  width: 133px;
  height: 133px;
  border-top: 12px solid orange;
  border-right: 13px solid orange;
  border-bottom: 8px solid orange;
  border-left: 9px solid orange;
  border-radius: 45% 70% 32% 52%;
  animation: sunFireInner 2101ms infinite alternate linear;
}
#ui .sun_fire:nth-child(35) {
  animation: sunFire 5850ms infinite linear;
}
#ui .sun_fire:nth-child(35) .sun_fire_inner {
  width: 102px;
  height: 102px;
  border-top: 6px solid orange;
  border-right: 15px solid orange;
  border-bottom: 9px solid orange;
  border-left: 8px solid orange;
  border-radius: 18% 63% 38% 21%;
  animation: sunFireInner 4791ms infinite alternate linear;
}
#ui .sun_fire:nth-child(36) {
  animation: sunFire 14581ms infinite linear;
}
#ui .sun_fire:nth-child(36) .sun_fire_inner {
  width: 121px;
  height: 121px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 6px solid orange;
  border-left: 13px solid orange;
  border-radius: 57% 57% 54% 76%;
  animation: sunFireInner 3695ms infinite alternate linear;
}
#ui .sun_fire:nth-child(37) {
  animation: sunFire 6987ms infinite linear;
}
#ui .sun_fire:nth-child(37) .sun_fire_inner {
  width: 129px;
  height: 129px;
  border-top: 12px solid orange;
  border-right: 12px solid orange;
  border-bottom: 12px solid orange;
  border-left: 8px solid orange;
  border-radius: 80% 34% 32% 27%;
  animation: sunFireInner 4831ms infinite alternate linear;
}
#ui .sun_fire:nth-child(38) {
  animation: sunFire 12180ms infinite linear;
}
#ui .sun_fire:nth-child(38) .sun_fire_inner {
  width: 140px;
  height: 140px;
  border-top: 11px solid orange;
  border-right: 6px solid orange;
  border-bottom: 10px solid orange;
  border-left: 8px solid orange;
  border-radius: 80% 62% 32% 74%;
  animation: sunFireInner 3674ms infinite alternate linear;
}
#ui .sun_fire:nth-child(39) {
  animation: sunFire 14192ms infinite linear;
}
#ui .sun_fire:nth-child(39) .sun_fire_inner {
  width: 82px;
  height: 82px;
  border-top: 12px solid orange;
  border-right: 14px solid orange;
  border-bottom: 13px solid orange;
  border-left: 14px solid orange;
  border-radius: 11% 46% 80% 29%;
  animation: sunFireInner 4004ms infinite alternate linear;
}
#ui .sun_fire:nth-child(40) {
  animation: sunFire 5725ms infinite linear;
}
#ui .sun_fire:nth-child(40) .sun_fire_inner {
  width: 51px;
  height: 51px;
  border-top: 6px solid orange;
  border-right: 11px solid orange;
  border-bottom: 9px solid orange;
  border-left: 6px solid orange;
  border-radius: 33% 44% 71% 21%;
  animation: sunFireInner 2629ms infinite alternate linear;
}
#ui .sun_fire:nth-child(41) {
  animation: sunFire 13906ms infinite linear;
}
#ui .sun_fire:nth-child(41) .sun_fire_inner {
  width: 53px;
  height: 53px;
  border-top: 8px solid orange;
  border-right: 15px solid orange;
  border-bottom: 6px solid orange;
  border-left: 14px solid orange;
  border-radius: 73% 49% 55% 52%;
  animation: sunFireInner 4682ms infinite alternate linear;
}
#ui .sun_fire:nth-child(42) {
  animation: sunFire 7016ms infinite linear;
}
#ui .sun_fire:nth-child(42) .sun_fire_inner {
  width: 87px;
  height: 87px;
  border-top: 15px solid orange;
  border-right: 15px solid orange;
  border-bottom: 12px solid orange;
  border-left: 10px solid orange;
  border-radius: 41% 65% 12% 26%;
  animation: sunFireInner 4799ms infinite alternate linear;
}
#ui .sun_fire:nth-child(43) {
  animation: sunFire 5653ms infinite linear;
}
#ui .sun_fire:nth-child(43) .sun_fire_inner {
  width: 82px;
  height: 82px;
  border-top: 6px solid orange;
  border-right: 6px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 15% 34% 42% 20%;
  animation: sunFireInner 2315ms infinite alternate linear;
}
#ui .sun_fire:nth-child(44) {
  animation: sunFire 8217ms infinite linear;
}
#ui .sun_fire:nth-child(44) .sun_fire_inner {
  width: 117px;
  height: 117px;
  border-top: 9px solid orange;
  border-right: 12px solid orange;
  border-bottom: 9px solid orange;
  border-left: 8px solid orange;
  border-radius: 51% 53% 18% 70%;
  animation: sunFireInner 4597ms infinite alternate linear;
}
#ui .sun_fire:nth-child(45) {
  animation: sunFire 8946ms infinite linear;
}
#ui .sun_fire:nth-child(45) .sun_fire_inner {
  width: 95px;
  height: 95px;
  border-top: 14px solid orange;
  border-right: 7px solid orange;
  border-bottom: 7px solid orange;
  border-left: 6px solid orange;
  border-radius: 38% 58% 18% 47%;
  animation: sunFireInner 3943ms infinite alternate linear;
}
#ui .sun_fire:nth-child(46) {
  animation: sunFire 13940ms infinite linear;
}
#ui .sun_fire:nth-child(46) .sun_fire_inner {
  width: 134px;
  height: 134px;
  border-top: 12px solid orange;
  border-right: 10px solid orange;
  border-bottom: 13px solid orange;
  border-left: 6px solid orange;
  border-radius: 16% 56% 28% 74%;
  animation: sunFireInner 4815ms infinite alternate linear;
}
#ui .sun_fire:nth-child(47) {
  animation: sunFire 6263ms infinite linear;
}
#ui .sun_fire:nth-child(47) .sun_fire_inner {
  width: 55px;
  height: 55px;
  border-top: 7px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 13px solid orange;
  border-radius: 43% 49% 69% 12%;
  animation: sunFireInner 2983ms infinite alternate linear;
}
#ui .sun_fire:nth-child(48) {
  animation: sunFire 6840ms infinite linear;
}
#ui .sun_fire:nth-child(48) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 11px solid orange;
  border-right: 14px solid orange;
  border-bottom: 11px solid orange;
  border-left: 9px solid orange;
  border-radius: 72% 52% 39% 16%;
  animation: sunFireInner 4495ms infinite alternate linear;
}
#ui .sun_fire:nth-child(49) {
  animation: sunFire 13922ms infinite linear;
}
#ui .sun_fire:nth-child(49) .sun_fire_inner {
  width: 60px;
  height: 60px;
  border-top: 10px solid orange;
  border-right: 15px solid orange;
  border-bottom: 7px solid orange;
  border-left: 15px solid orange;
  border-radius: 46% 59% 69% 74%;
  animation: sunFireInner 2818ms infinite alternate linear;
}
#ui .sun_fire:nth-child(50) {
  animation: sunFire 5605ms infinite linear;
}
#ui .sun_fire:nth-child(50) .sun_fire_inner {
  width: 86px;
  height: 86px;
  border-top: 7px solid orange;
  border-right: 9px solid orange;
  border-bottom: 12px solid orange;
  border-left: 13px solid orange;
  border-radius: 18% 16% 78% 20%;
  animation: sunFireInner 2615ms infinite alternate linear;
}
#ui .sun_fire:nth-child(51) {
  animation: sunFire 12560ms infinite linear;
}
#ui .sun_fire:nth-child(51) .sun_fire_inner {
  width: 65px;
  height: 65px;
  border-top: 14px solid orange;
  border-right: 12px solid orange;
  border-bottom: 6px solid orange;
  border-left: 8px solid orange;
  border-radius: 13% 26% 15% 19%;
  animation: sunFireInner 2399ms infinite alternate linear;
}
#ui .sun_fire:nth-child(52) {
  animation: sunFire 10498ms infinite linear;
}
#ui .sun_fire:nth-child(52) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 13px solid orange;
  border-right: 7px solid orange;
  border-bottom: 7px solid orange;
  border-left: 7px solid orange;
  border-radius: 24% 67% 70% 40%;
  animation: sunFireInner 3594ms infinite alternate linear;
}
#ui .sun_fire:nth-child(53) {
  animation: sunFire 14795ms infinite linear;
}
#ui .sun_fire:nth-child(53) .sun_fire_inner {
  width: 59px;
  height: 59px;
  border-top: 13px solid orange;
  border-right: 7px solid orange;
  border-bottom: 13px solid orange;
  border-left: 8px solid orange;
  border-radius: 38% 63% 57% 72%;
  animation: sunFireInner 2730ms infinite alternate linear;
}
#ui .sun_fire:nth-child(54) {
  animation: sunFire 13144ms infinite linear;
}
#ui .sun_fire:nth-child(54) .sun_fire_inner {
  width: 122px;
  height: 122px;
  border-top: 6px solid orange;
  border-right: 7px solid orange;
  border-bottom: 11px solid orange;
  border-left: 12px solid orange;
  border-radius: 42% 25% 44% 14%;
  animation: sunFireInner 3788ms infinite alternate linear;
}
#ui .sun_fire:nth-child(55) {
  animation: sunFire 8765ms infinite linear;
}
#ui .sun_fire:nth-child(55) .sun_fire_inner {
  width: 118px;
  height: 118px;
  border-top: 9px solid orange;
  border-right: 15px solid orange;
  border-bottom: 15px solid orange;
  border-left: 11px solid orange;
  border-radius: 53% 32% 67% 32%;
  animation: sunFireInner 4753ms infinite alternate linear;
}
#ui .sun_fire:nth-child(56) {
  animation: sunFire 12579ms infinite linear;
}
#ui .sun_fire:nth-child(56) .sun_fire_inner {
  width: 88px;
  height: 88px;
  border-top: 8px solid orange;
  border-right: 11px solid orange;
  border-bottom: 7px solid orange;
  border-left: 10px solid orange;
  border-radius: 54% 47% 69% 21%;
  animation: sunFireInner 2838ms infinite alternate linear;
}
#ui .sun_fire:nth-child(57) {
  animation: sunFire 13284ms infinite linear;
}
#ui .sun_fire:nth-child(57) .sun_fire_inner {
  width: 114px;
  height: 114px;
  border-top: 12px solid orange;
  border-right: 15px solid orange;
  border-bottom: 8px solid orange;
  border-left: 9px solid orange;
  border-radius: 69% 38% 37% 72%;
  animation: sunFireInner 4030ms infinite alternate linear;
}
#ui .sun_fire:nth-child(58) {
  animation: sunFire 6906ms infinite linear;
}
#ui .sun_fire:nth-child(58) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 10px solid orange;
  border-right: 7px solid orange;
  border-bottom: 14px solid orange;
  border-left: 8px solid orange;
  border-radius: 52% 33% 79% 33%;
  animation: sunFireInner 2835ms infinite alternate linear;
}
#ui .sun_fire:nth-child(59) {
  animation: sunFire 8276ms infinite linear;
}
#ui .sun_fire:nth-child(59) .sun_fire_inner {
  width: 67px;
  height: 67px;
  border-top: 13px solid orange;
  border-right: 7px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 20% 38% 70% 40%;
  animation: sunFireInner 2108ms infinite alternate linear;
}
#ui .sun_fire:nth-child(60) {
  animation: sunFire 14578ms infinite linear;
}
#ui .sun_fire:nth-child(60) .sun_fire_inner {
  width: 128px;
  height: 128px;
  border-top: 12px solid orange;
  border-right: 14px solid orange;
  border-bottom: 11px solid orange;
  border-left: 6px solid orange;
  border-radius: 53% 47% 42% 30%;
  animation: sunFireInner 2475ms infinite alternate linear;
}
#ui .sun_fire:nth-child(61) {
  animation: sunFire 8277ms infinite linear;
}
#ui .sun_fire:nth-child(61) .sun_fire_inner {
  width: 57px;
  height: 57px;
  border-top: 11px solid orange;
  border-right: 11px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 53% 60% 52% 15%;
  animation: sunFireInner 4147ms infinite alternate linear;
}
#ui .sun_fire:nth-child(62) {
  animation: sunFire 7881ms infinite linear;
}
#ui .sun_fire:nth-child(62) .sun_fire_inner {
  width: 132px;
  height: 132px;
  border-top: 15px solid orange;
  border-right: 9px solid orange;
  border-bottom: 8px solid orange;
  border-left: 7px solid orange;
  border-radius: 66% 47% 53% 23%;
  animation: sunFireInner 4038ms infinite alternate linear;
}
#ui .sun_fire:nth-child(63) {
  animation: sunFire 14723ms infinite linear;
}
#ui .sun_fire:nth-child(63) .sun_fire_inner {
  width: 71px;
  height: 71px;
  border-top: 10px solid orange;
  border-right: 11px solid orange;
  border-bottom: 6px solid orange;
  border-left: 9px solid orange;
  border-radius: 77% 55% 42% 45%;
  animation: sunFireInner 2791ms infinite alternate linear;
}
#ui .sun_fire:nth-child(64) {
  animation: sunFire 10832ms infinite linear;
}
#ui .sun_fire:nth-child(64) .sun_fire_inner {
  width: 100px;
  height: 100px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 12px solid orange;
  border-left: 8px solid orange;
  border-radius: 16% 58% 48% 41%;
  animation: sunFireInner 3825ms infinite alternate linear;
}
#ui .sun_fire:nth-child(65) {
  animation: sunFire 13580ms infinite linear;
}
#ui .sun_fire:nth-child(65) .sun_fire_inner {
  width: 56px;
  height: 56px;
  border-top: 14px solid orange;
  border-right: 14px solid orange;
  border-bottom: 6px solid orange;
  border-left: 7px solid orange;
  border-radius: 11% 46% 21% 16%;
  animation: sunFireInner 2182ms infinite alternate linear;
}
#ui .sun_fire:nth-child(66) {
  animation: sunFire 12022ms infinite linear;
}
#ui .sun_fire:nth-child(66) .sun_fire_inner {
  width: 124px;
  height: 124px;
  border-top: 15px solid orange;
  border-right: 14px solid orange;
  border-bottom: 13px solid orange;
  border-left: 15px solid orange;
  border-radius: 33% 60% 17% 65%;
  animation: sunFireInner 4520ms infinite alternate linear;
}
#ui .sun_fire:nth-child(67) {
  animation: sunFire 14912ms infinite linear;
}
#ui .sun_fire:nth-child(67) .sun_fire_inner {
  width: 140px;
  height: 140px;
  border-top: 8px solid orange;
  border-right: 11px solid orange;
  border-bottom: 14px solid orange;
  border-left: 13px solid orange;
  border-radius: 47% 22% 48% 72%;
  animation: sunFireInner 2011ms infinite alternate linear;
}
#ui .sun_fire:nth-child(68) {
  animation: sunFire 8544ms infinite linear;
}
#ui .sun_fire:nth-child(68) .sun_fire_inner {
  width: 45px;
  height: 45px;
  border-top: 10px solid orange;
  border-right: 7px solid orange;
  border-bottom: 12px solid orange;
  border-left: 12px solid orange;
  border-radius: 52% 58% 30% 53%;
  animation: sunFireInner 4663ms infinite alternate linear;
}
#ui .sun_fire:nth-child(69) {
  animation: sunFire 9730ms infinite linear;
}
#ui .sun_fire:nth-child(69) .sun_fire_inner {
  width: 135px;
  height: 135px;
  border-top: 7px solid orange;
  border-right: 11px solid orange;
  border-bottom: 15px solid orange;
  border-left: 7px solid orange;
  border-radius: 25% 21% 65% 38%;
  animation: sunFireInner 4064ms infinite alternate linear;
}
#ui .sun_fire:nth-child(70) {
  animation: sunFire 5892ms infinite linear;
}
#ui .sun_fire:nth-child(70) .sun_fire_inner {
  width: 97px;
  height: 97px;
  border-top: 8px solid orange;
  border-right: 9px solid orange;
  border-bottom: 7px solid orange;
  border-left: 13px solid orange;
  border-radius: 29% 70% 60% 22%;
  animation: sunFireInner 3389ms infinite alternate linear;
}
#ui .sun_fire:nth-child(71) {
  animation: sunFire 13963ms infinite linear;
}
#ui .sun_fire:nth-child(71) .sun_fire_inner {
  width: 111px;
  height: 111px;
  border-top: 8px solid orange;
  border-right: 8px solid orange;
  border-bottom: 6px solid orange;
  border-left: 10px solid orange;
  border-radius: 59% 58% 32% 44%;
  animation: sunFireInner 2371ms infinite alternate linear;
}
#ui .sun_fire:nth-child(72) {
  animation: sunFire 9846ms infinite linear;
}
#ui .sun_fire:nth-child(72) .sun_fire_inner {
  width: 139px;
  height: 139px;
  border-top: 7px solid orange;
  border-right: 11px solid orange;
  border-bottom: 13px solid orange;
  border-left: 10px solid orange;
  border-radius: 72% 70% 48% 57%;
  animation: sunFireInner 2824ms infinite alternate linear;
}
#ui .sun_fire:nth-child(73) {
  animation: sunFire 10997ms infinite linear;
}
#ui .sun_fire:nth-child(73) .sun_fire_inner {
  width: 69px;
  height: 69px;
  border-top: 7px solid orange;
  border-right: 8px solid orange;
  border-bottom: 15px solid orange;
  border-left: 13px solid orange;
  border-radius: 78% 65% 47% 73%;
  animation: sunFireInner 2993ms infinite alternate linear;
}
#ui .sun_fire:nth-child(74) {
  animation: sunFire 10312ms infinite linear;
}
#ui .sun_fire:nth-child(74) .sun_fire_inner {
  width: 121px;
  height: 121px;
  border-top: 13px solid orange;
  border-right: 8px solid orange;
  border-bottom: 13px solid orange;
  border-left: 14px solid orange;
  border-radius: 69% 55% 35% 77%;
  animation: sunFireInner 4379ms infinite alternate linear;
}
#ui .sun_fire:nth-child(75) {
  animation: sunFire 13590ms infinite linear;
}
#ui .sun_fire:nth-child(75) .sun_fire_inner {
  width: 105px;
  height: 105px;
  border-top: 11px solid orange;
  border-right: 9px solid orange;
  border-bottom: 13px solid orange;
  border-left: 13px solid orange;
  border-radius: 49% 11% 24% 36%;
  animation: sunFireInner 3011ms infinite alternate linear;
}
#ui .sun_fire:nth-child(76) {
  animation: sunFire 5894ms infinite linear;
}
#ui .sun_fire:nth-child(76) .sun_fire_inner {
  width: 131px;
  height: 131px;
  border-top: 9px solid orange;
  border-right: 7px solid orange;
  border-bottom: 6px solid orange;
  border-left: 8px solid orange;
  border-radius: 77% 53% 55% 53%;
  animation: sunFireInner 2421ms infinite alternate linear;
}
#ui .sun_fire:nth-child(77) {
  animation: sunFire 8558ms infinite linear;
}
#ui .sun_fire:nth-child(77) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 6px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 12px solid orange;
  border-radius: 62% 48% 61% 74%;
  animation: sunFireInner 4122ms infinite alternate linear;
}
#ui .sun_fire:nth-child(78) {
  animation: sunFire 13283ms infinite linear;
}
#ui .sun_fire:nth-child(78) .sun_fire_inner {
  width: 71px;
  height: 71px;
  border-top: 14px solid orange;
  border-right: 10px solid orange;
  border-bottom: 9px solid orange;
  border-left: 9px solid orange;
  border-radius: 41% 43% 74% 63%;
  animation: sunFireInner 3644ms infinite alternate linear;
}
#ui .sun_fire:nth-child(79) {
  animation: sunFire 7175ms infinite linear;
}
#ui .sun_fire:nth-child(79) .sun_fire_inner {
  width: 138px;
  height: 138px;
  border-top: 6px solid orange;
  border-right: 12px solid orange;
  border-bottom: 8px solid orange;
  border-left: 14px solid orange;
  border-radius: 77% 39% 28% 27%;
  animation: sunFireInner 2320ms infinite alternate linear;
}
#ui .sun_fire:nth-child(80) {
  animation: sunFire 14422ms infinite linear;
}
#ui .sun_fire:nth-child(80) .sun_fire_inner {
  width: 123px;
  height: 123px;
  border-top: 8px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 68% 65% 68% 52%;
  animation: sunFireInner 4727ms infinite alternate linear;
}
#ui .sun_fire:nth-child(81) {
  animation: sunFire 9591ms infinite linear;
}
#ui .sun_fire:nth-child(81) .sun_fire_inner {
  width: 101px;
  height: 101px;
  border-top: 14px solid orange;
  border-right: 14px solid orange;
  border-bottom: 6px solid orange;
  border-left: 9px solid orange;
  border-radius: 20% 31% 51% 22%;
  animation: sunFireInner 4916ms infinite alternate linear;
}
#ui .sun_fire:nth-child(82) {
  animation: sunFire 12199ms infinite linear;
}
#ui .sun_fire:nth-child(82) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 11px solid orange;
  border-right: 12px solid orange;
  border-bottom: 11px solid orange;
  border-left: 13px solid orange;
  border-radius: 66% 75% 36% 77%;
  animation: sunFireInner 4293ms infinite alternate linear;
}
#ui .sun_fire:nth-child(83) {
  animation: sunFire 12304ms infinite linear;
}
#ui .sun_fire:nth-child(83) .sun_fire_inner {
  width: 45px;
  height: 45px;
  border-top: 11px solid orange;
  border-right: 7px solid orange;
  border-bottom: 14px solid orange;
  border-left: 8px solid orange;
  border-radius: 14% 66% 49% 32%;
  animation: sunFireInner 3269ms infinite alternate linear;
}
#ui .sun_fire:nth-child(84) {
  animation: sunFire 14767ms infinite linear;
}
#ui .sun_fire:nth-child(84) .sun_fire_inner {
  width: 52px;
  height: 52px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 9px solid orange;
  border-left: 9px solid orange;
  border-radius: 17% 61% 31% 67%;
  animation: sunFireInner 4155ms infinite alternate linear;
}
#ui .sun_fire:nth-child(85) {
  animation: sunFire 8468ms infinite linear;
}
#ui .sun_fire:nth-child(85) .sun_fire_inner {
  width: 102px;
  height: 102px;
  border-top: 10px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 9px solid orange;
  border-radius: 57% 51% 72% 19%;
  animation: sunFireInner 4265ms infinite alternate linear;
}
#ui .sun_fire:nth-child(86) {
  animation: sunFire 11475ms infinite linear;
}
#ui .sun_fire:nth-child(86) .sun_fire_inner {
  width: 103px;
  height: 103px;
  border-top: 13px solid orange;
  border-right: 15px solid orange;
  border-bottom: 14px solid orange;
  border-left: 6px solid orange;
  border-radius: 22% 41% 35% 72%;
  animation: sunFireInner 4462ms infinite alternate linear;
}
#ui .sun_fire:nth-child(87) {
  animation: sunFire 11421ms infinite linear;
}
#ui .sun_fire:nth-child(87) .sun_fire_inner {
  width: 123px;
  height: 123px;
  border-top: 10px solid orange;
  border-right: 10px solid orange;
  border-bottom: 7px solid orange;
  border-left: 13px solid orange;
  border-radius: 49% 20% 79% 14%;
  animation: sunFireInner 4516ms infinite alternate linear;
}
#ui .sun_fire:nth-child(88) {
  animation: sunFire 6774ms infinite linear;
}
#ui .sun_fire:nth-child(88) .sun_fire_inner {
  width: 128px;
  height: 128px;
  border-top: 14px solid orange;
  border-right: 13px solid orange;
  border-bottom: 15px solid orange;
  border-left: 7px solid orange;
  border-radius: 46% 51% 71% 38%;
  animation: sunFireInner 4615ms infinite alternate linear;
}
#ui .sun_fire:nth-child(89) {
  animation: sunFire 7412ms infinite linear;
}
#ui .sun_fire:nth-child(89) .sun_fire_inner {
  width: 111px;
  height: 111px;
  border-top: 13px solid orange;
  border-right: 8px solid orange;
  border-bottom: 10px solid orange;
  border-left: 13px solid orange;
  border-radius: 67% 14% 16% 25%;
  animation: sunFireInner 3187ms infinite alternate linear;
}
#ui .sun_fire:nth-child(90) {
  animation: sunFire 10300ms infinite linear;
}
#ui .sun_fire:nth-child(90) .sun_fire_inner {
  width: 91px;
  height: 91px;
  border-top: 9px solid orange;
  border-right: 11px solid orange;
  border-bottom: 13px solid orange;
  border-left: 13px solid orange;
  border-radius: 20% 62% 72% 16%;
  animation: sunFireInner 4991ms infinite alternate linear;
}
#ui .sun_fire:nth-child(91) {
  animation: sunFire 14399ms infinite linear;
}
#ui .sun_fire:nth-child(91) .sun_fire_inner {
  width: 115px;
  height: 115px;
  border-top: 7px solid orange;
  border-right: 10px solid orange;
  border-bottom: 12px solid orange;
  border-left: 14px solid orange;
  border-radius: 67% 11% 12% 15%;
  animation: sunFireInner 2601ms infinite alternate linear;
}
#ui .sun_fire:nth-child(92) {
  animation: sunFire 12443ms infinite linear;
}
#ui .sun_fire:nth-child(92) .sun_fire_inner {
  width: 93px;
  height: 93px;
  border-top: 12px solid orange;
  border-right: 9px solid orange;
  border-bottom: 6px solid orange;
  border-left: 9px solid orange;
  border-radius: 75% 34% 45% 54%;
  animation: sunFireInner 2885ms infinite alternate linear;
}
#ui .sun_fire:nth-child(93) {
  animation: sunFire 14891ms infinite linear;
}
#ui .sun_fire:nth-child(93) .sun_fire_inner {
  width: 78px;
  height: 78px;
  border-top: 14px solid orange;
  border-right: 11px solid orange;
  border-bottom: 14px solid orange;
  border-left: 11px solid orange;
  border-radius: 41% 67% 80% 70%;
  animation: sunFireInner 2101ms infinite alternate linear;
}
#ui .sun_fire:nth-child(94) {
  animation: sunFire 10765ms infinite linear;
}
#ui .sun_fire:nth-child(94) .sun_fire_inner {
  width: 69px;
  height: 69px;
  border-top: 12px solid orange;
  border-right: 7px solid orange;
  border-bottom: 12px solid orange;
  border-left: 12px solid orange;
  border-radius: 53% 46% 78% 44%;
  animation: sunFireInner 2536ms infinite alternate linear;
}
#ui .sun_fire:nth-child(95) {
  animation: sunFire 5635ms infinite linear;
}
#ui .sun_fire:nth-child(95) .sun_fire_inner {
  width: 57px;
  height: 57px;
  border-top: 15px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 19% 59% 56% 62%;
  animation: sunFireInner 2044ms infinite alternate linear;
}
#ui .sun_fire:nth-child(96) {
  animation: sunFire 6563ms infinite linear;
}
#ui .sun_fire:nth-child(96) .sun_fire_inner {
  width: 70px;
  height: 70px;
  border-top: 8px solid orange;
  border-right: 11px solid orange;
  border-bottom: 12px solid orange;
  border-left: 15px solid orange;
  border-radius: 49% 31% 35% 16%;
  animation: sunFireInner 4105ms infinite alternate linear;
}
#ui .sun_fire:nth-child(97) {
  animation: sunFire 5306ms infinite linear;
}
#ui .sun_fire:nth-child(97) .sun_fire_inner {
  width: 42px;
  height: 42px;
  border-top: 12px solid orange;
  border-right: 12px solid orange;
  border-bottom: 8px solid orange;
  border-left: 8px solid orange;
  border-radius: 35% 59% 32% 44%;
  animation: sunFireInner 2276ms infinite alternate linear;
}
#ui .sun_fire:nth-child(98) {
  animation: sunFire 9596ms infinite linear;
}
#ui .sun_fire:nth-child(98) .sun_fire_inner {
  width: 102px;
  height: 102px;
  border-top: 13px solid orange;
  border-right: 15px solid orange;
  border-bottom: 8px solid orange;
  border-left: 10px solid orange;
  border-radius: 58% 62% 31% 77%;
  animation: sunFireInner 3072ms infinite alternate linear;
}
#ui .sun_fire:nth-child(99) {
  animation: sunFire 11482ms infinite linear;
}
#ui .sun_fire:nth-child(99) .sun_fire_inner {
  width: 74px;
  height: 74px;
  border-top: 7px solid orange;
  border-right: 6px solid orange;
  border-bottom: 10px solid orange;
  border-left: 14px solid orange;
  border-radius: 22% 60% 76% 63%;
  animation: sunFireInner 2519ms infinite alternate linear;
}
#ui .sun_fire:nth-child(100) {
  animation: sunFire 14267ms infinite linear;
}
#ui .sun_fire:nth-child(100) .sun_fire_inner {
  width: 93px;
  height: 93px;
  border-top: 8px solid orange;
  border-right: 13px solid orange;
  border-bottom: 8px solid orange;
  border-left: 10px solid orange;
  border-radius: 26% 34% 66% 69%;
  animation: sunFireInner 4475ms infinite alternate linear;
}

@keyframes sunFire {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes sunFireInner {
  0% {
    transform: translate(90px, -50%) rotateZ(0deg);
  }
  50% {
    transform: translate(140px, -50%) rotateZ(180deg);
  }
  100% {
    transform: translate(90px, -50%) rotateZ(360deg);
  }
}